/* Style the main content area */
.main-content {
    display: flex;
    margin: auto;
  }
  
  .rest {
    width: 100%;
    margin-top: 0px;
    padding: 0px;
    display: flex;
    flex-direction: flex; 
    justify-content: space-between;
  }

  .service1 {
    margin-left: 10px;
    align-items: left;
    width:50%; /* Margin-left for icon next to p */
    height: 500px;
  }
  
  
  .description1 p {
    margin-right: 10px;
    color: #000000;
    padding: 5px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
  }
  
  .btn1 {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .description1 h3 {
    margin-right: 10px;
    color: #000000;
    padding: 0px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
  }
  
  .track {
    width: 100%;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    flex-direction: flex; 
    justify-content: space-between;
  }
  .service2 {
    margin-right: 10px;
    margin-top: 10px;
    align-items: right;
    width:50%; /* Margin-left for icon next to p */
    height: 500px;
  }
  
  .description2 {
    margin-top: 10px;
  }
  
  .description2 p {
    margin-left: 10px;
    margin: 5px 5px;
    color: #000000;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
  }
  
  .btn2 {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 40px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .description2 h3 {
    margin-left: 10px;
    color: #000000;
    padding: 0px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
  }
  
  .rate {
    width: 100%;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    flex-direction: flex; 
    justify-content: space-between;
  }

  .service3 {
    margin-left: 10px;
    align-items: left;
    width:50%; /* Margin-left for icon next to p */
    height: 500px;
  }
  
  
  .description3 p {
    margin-right: 10px;
    color: #000000;
    padding: 5px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
  }
  
  .btn3 {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 40px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .description3 h3 {
    margin-right: 10px;
    color: #000000;
    padding: 0px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
  }
  
  .driver {
    width: 100%;
    margin-top: 10px;
    padding: 0px;
    display: flex;
    flex-direction: flex; 
    justify-content: space-between;
  }
  .service4 {
    margin-right: 10px;
    margin-top: 10px;
    align-items: right;
    width:50%; /* Margin-left for icon next to p */
    height: 500px;
  }
  
  .description4 {
    margin-top: 10px;
  }
  
  .description4 p {
    margin-left: 10px;
    margin: 5px 5px;
    color: #000000;
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
  }
  
  .btn4 {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 40px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .description4 h3 {
    margin-left: 10px;
    color: #000000;
    padding: 0px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
  }
  